*{ margin: 0%; padding: 0%; box-sizing: border-box; background-color: rgb(182, 206, 226);}

div{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #8e44ad;
    
    
}

h1{
    background: #8e44ad;
    color: aliceblue;
    text-shadow:0 2px 2px black ;
}
input{
    width:  50%;
    padding: 10px 20px;
    border: none;
    outline: none;
    text-align: center;
    margin: 20px 0;
    background-color: white;
    color: black;
}
